<h1>Tasty Ingredients</h1>

<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <br>
    <%= f.collection_select :recipe_id, Recipe.order(:title), :id, :title, include_blank: false %>

      <br>
    <%= f.submit %>
<% end %>
<p><%= link_to "Back to Ingredients", ingredients_path %></p>