<h1>Tasty Ingredients</h1>

<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
      <br>
    <%= f.submit %>
<% end %>
<p><%= link_to "Back to Ingredients", ingredients_path %></p>